@font-face {
  font-family: Golos;
  src: 
  url('../fonts/Golos-Text_Regular.woff'),
  url('../fonts/Golos-Text_Regular.woff2')
  ;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #0B0B0B;
  font-family: Golos;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  color: #0B0B0B;
}
/*Переменные*/
$margin0A: 0 auto;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

.l-container {
  max-width: 1440px;
  padding: 0 112px;
  margin: 0 auto;
  height: 100%;
}

.l-sm-container {
  padding: 0 208px;
}

.l-title {
  span {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0B0B0B;
  }
  &.white {
    span {
      color: #FFFFFF;
    }
  }
}


main {
  width: 100%;
}
section {
  width: 100%;
  height: 100%;
  &.l-dark {
    background: #212121;
  }
  &.l-light {
    background: #E5E5E5;
  }
  &.l-white {
    background: #FFFFFF;
  }
  &.l-black {
    background: #0B0B0B;
  }
}
header {
  width: 100%;
  height: 90px;
  background: #0B0B0B;
  z-index: 100;
  position: unset;
  top: 0;
  &.sticky-header {
    position: sticky;
  }
}
.l-header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-header__logo-icon {
  margin-top: 3px;
}
.l-header__nav {
  height: 100%;
}
.l-header__nav-menu {
  height: 100%;
  ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 67px;
    a {
      color: #757575;
      position: relative;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      &::after {
        content: '';
        position: absolute;
        left: -100px;
        bottom: -35px;
        width: 100%;
        height: 2px;
        background: $colorWhite;
        cursor: auto;
        opacity: 0;
        transition: .3s;
      }
      &:hover::after{
        opacity: 1;
        left: 0;
      }
      &:hover {
        color: #F5F5F5;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &.bitrix24 {
      a {
        color: #2FBAF2;
        &:hover::after {
          background: #2FBAF2;
        }
      }
    }
  }
}
.l-main {
  display: flex;
  align-items: center;
  padding-top: 132px;
  padding-bottom: 105px;
}
.l-main__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.l-main__content-title {
  width: 60%;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #F5F5F5;
}
.l-main__content-desc {
  width: 60%;
  margin-top: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #808080;  
}
.l-main__content-start {
  display: flex;
  margin-top: 40px;
}
a.start-project {
  padding: 12px 22px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #212121;
  font-size: 16px;
  line-height: 19px;
  &:hover::after{
    opacity: 0;
  }
}
.l-main__content-socials {
  margin-top: 203px;
  display: flex;
  justify-content: flex-end;
  a {
    font-size: 16px;
    line-height: 19px;
    color: #757575;
    &:hover {
      color: #F5F5F5;
    }
  }
}
.l-socials {
  &-instagram {
    margin-right: 64px;
  }
}
.section-about {
  border-bottom: 1px solid #BDBDBD;
}
.l-about {
  padding: 100px 0;
}
.l-about__text {
  font-size: 28px;
  line-height: 48px;
  color: #424242;
}
.section-industries {
  padding: 100px 0;
}
.l-industries__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .l-title {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
.l-industries__list {
  width: 50%;
  ul {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    justify-content: flex-end;
    grid-gap: 8px;
    margin: 0;
    li {
      max-width: 280px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 29px 34px;
      border: none;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      background-color: #FFFFFF;
      border-radius: 6px;
      position: relative;
      margin-right: 24px;
      a {
        position: absolute;
        top: 12px;
        right: 12px;
        path {
          transition: .3s;
        }
        &:hover {
          path {
            fill: black;
          }
        }
      }
    }
  }
}
.l-title {
  .l-industries__wrapper-descr {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }
}
.section-categories {
  position: relative;
  padding-bottom: 100px;
}
.l-categories__wrapper {
  display: flex;
  justify-content: flex-start;
}
.l-categories__buttons {
  max-width: 280px;
  width: 100%;
  height: auto;
  padding: 100px 0 0 0;
}
.l-categories__buttons-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 100px;
}
.l-categories__buttons-link {
  width: 100%;
  margin-bottom: 8px;
  a {
    width: 100%;
    padding: 13px 32px 13px 26px;
    background: #F5F5F5;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    color: #0B0B0B;
    display: flex;
    &:target {
      background: #0B0B0B;
      color: #FFFFFF;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.l-categories__buttons-link.active {
  a {
    background: #0B0B0B;
    color: #FFFFFF;
  }
}
.l-category {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.l-categories__cases {
  width: 75%;
  margin-left: 136px;
}
.l-categories__cases-descr {
  margin-top: 30px;
  ul {
    display: flex;
    flex-direction: column;
    li {
      font-size: 16px;
      line-height: 22px;
      color: #666666;
      list-style-type: disc;
    }
  }
}
.l-categories__case {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.l-case__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
  border-bottom: 1px solid #BDBDBD;
  span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0B0B0B;
    max-width: 325px;
  }
  a {
    font-size: 16px;
    line-height: 19px;
    color: #2962FF;
  }
}
.l-case__item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.l-case__item-tags {
  display: flex;
  flex-direction: column;
}
.l-case__item-type {
  font-size: 16px;
  line-height: 22px;
  color: #0B0B0B;
}

.l-case__item-images {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}
.l-case__item-el {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.l-case__item-label {
  width: 100%;
  display: flex;
  margin-top: 30px;
  .label {
    padding: 4px 22px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #FFFFFF;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 178px;
    white-space: unset;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    &.yellow {
      background: #F7D12D;
    }
    &.red {
      background: #EE1815;
    }
    &.blue-light {
      background: #09ABF3;
    }
    &.blue-dark {
      background: #094BF3;
    }
    &.green {
      background: #0FC241;
    }
  }
}

.section-services {
  padding: 100px 0;
}
.l-services {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.l-services__items {
  max-width: 350px;
  width: 100%;
}
.l-services__items-list {
  ul {
    li {
      width: 100%;
      padding: 13px;
      border-bottom: 1px solid #BDBDBD;
      cursor: pointer;
      a {
        &:hover .li {
          background: #BDBDBD;
        }
      }
      &:last-child {
        border: none;
      }
    }
    li.is-active {
      background: #0B0B0B;
      border-radius: 6px;
      a {
        color: #FFFFFF;
      }
    }
  }
}
.l-services__descriptions {
  margin-left: 104px;
}
/*remove accordion styles*/
.tabs {
  border: none;
  background: none;
}
.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
  background: none;
  color: #0B0B0B;
}
.tabs-title>a {
  color: #0B0B0B;
  padding: 0;
  font-family: Golos;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.tabs-title>a:hover {
  color: #0B0B0B;
}
.tabs-content.vertical {
  border: none;
  background: #FFFFFF;
}
.tabs-panel {
  padding: 0;
}
.tabs-panel.is-active {
  display: flex;
  flex-direction: column;
}
a:focus, a:hover {
  color: #0B0B0B;
}
/* end remove accordion styles*/
.l-services__descriptions-row {
  display: flex;
  flex-direction: column;
}
.l-services__descriptions-num {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.l-services__descriptions-text {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.l-services__descriptions-link {
  max-width: 182px;
  width: 100%;
  padding: 12px 22px;
  margin-top: 32px;
  border: 1px solid #0B0B0B;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
}

.section-clients {
  padding: 128px 0;
}

.section-counts {
  padding: 100px 0;
}
.l-about-count__container {
  display: flex;
  justify-content: space-between;
}
.l-about__us {
  width: 59%;
}
.l-about__us-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.l-about__us-text-about-company {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #212121;
}
.l-about__us-text-we-believe {
  margin-top: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
.l-count {
  width: 25%;
}
.l-count__wrapper {
  display: flex;
  flex-direction: column;
  &-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #BDBDBD;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &-number {
    width: 100%;
    display: flex;
    align-items: center;
    span {
      font-size: 60px;
      line-height: 80px;
      color: #212121;
      opacity: 0.5;
      transition: .3s;
    }
    svg {
      margin-right: 28px;
      path {
        fill: #212121;
      }
    }
    span.opacity {
      opacity: 1;
    }
  }
  &-desc {
    width: 100%;
    margin-top: 16px;
    padding: 0 100px 0 0;
    span {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
.section-cases {
  padding: 128px 0;
}
.l-cases__wrapper {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 64px;
}
.l-case {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.l-case__img {
  width: 100%;
  img {
    width: 100%;
  }
}
.l-case__text {
  margin-top: 32px;
  &-name {
    a {
      font-size: 28px;
      line-height: 34px;
      color: #FFFFFF;
    }
  }
  &-tag {
    margin-top: 16px;
    span {
      font-size: 20px;
      line-height: 24px;
      color: #757575;
    }
  }
}
.l-cases__link-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.l-cases__link {
  a {
    display: flex;
    align-items: center;
  }
  &-icon {
    margin-left: 20px;
    svg {
      margin-top: 7px;
    }
  }
  span {
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #2979FF;
  }
}
.section-project {
  padding: 100px 0;
}
.l-project__wrapper {
  width: 100%;
  display: flex;
}
.l-project-left {
  width: 50%;
}
.l-project-desc {
  margin-top: 30px;
  span {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
  }
}
.l-project-right {
  margin-left: 136px;
  ul {
    margin: 0;
    li {
      font-size: 16px;
      line-height: 22px;
      color: #757575;
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    li.l-project-active {
      color: #0B0B0B;
    }
  }
}
.l-project-slider {
  min-height: 100px;
  max-height: 160px;
  flex-direction: column;
  cursor: default;
  .swiper-slide {
    font-size: 16px;
    line-height: 22px;
    color: #757575;
  }
  .swiper-slide-active {
    color: #0B0B0B;
  }
}
.l-project-start {
  margin-top: 32px;
  display: flex;
}
.l-project-start-button {
  max-width: 182px;
  width: 100%;
  padding: 12px 22px;
  border: 1px solid #0B0B0B;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
}


.section-contacts {
  padding: 100px 0;
  ul {
    margin: 0;
    li {
      font-size: 16px;
      line-height: 22px;
      color: #757575;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      font-size: 16px;
      line-height: 22px;
      color: #757575;
      margin-bottom: 30px;
      transition: .3s;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        color: #FFFFFF;
      }
    }
    .bitrix24 {
      a:hover {
        color: #03A9F4;
      }
    }
  }
}

.l-contacts__wrapper {
  width: 100%;
  margin-top: 57px;
  display: flex;
  padding-bottom: 60px;
  border-bottom: 1px solid #262626;
}
.l-contacts__wrapper-info {
  width: 35%;
}
.l-contacts__nav {
  width: 65%;
  ul {
    display: flex;
    flex-direction: column;
    height: 220px;
    flex-wrap: wrap;
  }
}
.l-contacts__socials {
  width: 100%;
  display: flex;
  margin-top: 60px;
  a {
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
    }
  }
}