@font-face {
  font-family: Golos;
  src: 
  url('../fonts/Golos-Text_Regular.woff'),
  url('../fonts/Golos-Text_Regular.woff2')
  ;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #0B0B0B;
  font-family: Golos;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  margin: 0;
}
a {
  color: #0B0B0B;
}
.gray-18 {
  font-size: 18px;
  line-height: 28px;
  color: #9E9E9E;
}
.black-18 {
  font-size: 18px;
  line-height: 28px;
  color: #0B0B0B;
}
.white-18 {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.black-24 {
  font-size: 24px;
  line-height: 36px;
  color: #0B0B0B;
}
/*Переменные*/
$margin0A: 0 auto;
$colorWhite: #ffcccc;
$colorBlack: #000000;

.l-container {
  max-width: 1440px;
  padding: 0 112px;
  margin: 0 auto;
  height: 100%;
}

.l-sm-container {
  padding: 0 208px;
}

.l-title {
  span {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0B0B0B;
  }
  &.white {
    span {
      color: #FFFFFF;
    }
  }
}


main {
  width: 100%;
}
section {
  width: 100%;
  height: 100%;
  &.l-dark {
    background: #212121;
  }
  &.l-light {
    background: #F5F5F5;
  }
  &.l-white {
    background: #FFFFFF;
  }
  &.l-black {
    background: #0B0B0B;
  }
}
header {
  width: 100%;
  height: 90px;
  background: #0B0B0B;
  z-index: 100;
  position: fixed;
  top: 0px;
  &.fixed {
    position: fixed;
    top: 0;
    transition: .3s;
  }
}
.l-header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-header__logo-icon {
  margin-top: 3px;
}
.l-header__nav {
  height: 100%;
}
.l-header__nav-menu {
  height: 100%;
  ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
    a {
      color: #757575;
      position: relative;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      transition: .3s;
      &:hover {
        color: #FFFFFF;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &.bitrix24 {
      a {
        color: #00B0FF;
        transition: .3s;
        &:hover {
          color: #83D8FF;
        }
      }
    }
  }
}
.l-main {
  display: flex;
  align-items: center;
  padding-top: 230px;
  padding-bottom: 266px;
}
.l-main__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.l-main__content-title {
  width: 60%;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #F5F5F5;
}
.l-main__content-desc {
  width: 60%;
  margin-top: 30px;
}
.l-main__content-start {
  display: flex;
  margin-top: 40px;
}

.section-clients {
  padding: 100px 0;
}
.l-clients {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.l-clients__form {
  display: flex;
  padding: 62px 64px;
  background: #FFFFFF;
  border-radius: 6px;
}
.l-clients__form-btn {
  // width: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
  a {
    padding: 12px 22px;
    background: #0B0B0B;
    border-radius: 6px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
    transition: .2s;
    &:hover {
      background: #383838;
    }
  }
}
.l-clients__form-descr {
  margin-right: 121px;
  display: flex;
  align-items: center;
}
.l-clients__form-tel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  span {
    white-space: nowrap;
  }
}
.l-clients__blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.l-clients__block {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.l-clients__block-descr {
  margin-top: 30px;
}


.section-services {
  padding: 100px 0;
}
.l-services {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.l-services__items {
  max-width: 350px;
  width: 100%;
}
.l-services__items-list {
  ul {
    li {
      width: 100%;
      padding: 16px 10px;
      border-bottom: 1px solid #DDDDDD;
      cursor: pointer;
      &:hover {
        background: #F5F5F5;
        border-radius: 6px;
        border-top: none;
      }
      &:last-child {
        border: none;
      }
      a:hover {
        color: #0B0B0B;
        background: transparent;
      }
    }
    li.is-active {
      background: #0B0B0B;
      border-radius: 6px;
      a {
        color: #FFFFFF;
      }
    }
  }
}
.l-services__descriptions {
  margin-left: 96px;
}
/*remove accordion styles*/
.tabs {
  border: none;
  background: none;
}
.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
  background: none;
  color: #0B0B0B;
}
.tabs-title>a {
  color: #0B0B0B;
  padding: 0;
  font-family: Golos;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.tabs-title>a:hover {
  color: #0B0B0B;
}
.tabs-content.vertical {
  border: none;
  background: #FFFFFF;
}
.tabs-panel {
  padding: 0;
}
.tabs-panel.is-active {
  display: flex;
  flex-direction: column;
}
a:focus, a:hover {
  color: #0B0B0B;
}
/* end remove accordion styles*/
.l-services__descriptions-row {
  display: flex;
  flex-direction: column;
}
.l-services__descriptions-num {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.l-services__descriptions-text {
  margin-top: 30px;
  font-size: 24px;
  line-height: 36px;
}
.l-services__descriptions-link {
  max-width: 182px;
  width: 100%;
  padding: 12px 22px;
  margin-top: 32px;
  border: 1px solid #0B0B0B;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  &:hover {
    border-width: 2px;
    padding: 11px 21px;
  }
}

.section-industries {
  padding: 100px 0;
}
.l-industries__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .l-title {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
}
.l-industries__list {
  width: 100%;
  ul {
    display: grid;
    grid-template-columns: repeat(2, 295px);
    justify-content: flex-end;
    grid-gap: 10px;
    margin: 0;
    li {
      a {
        max-width: 280px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 29px 34px;
        border: none;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;
        margin-right: 24px;
        // transition: .5s;
      }
      transition: .2s;
      &:hover {
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.13));
      }
      &:hover svg {
        path {
          fill: black;
        }
      }
      svg {
        pointer-events: none;
        position: absolute;
        top: 12px;
        right: 12px;
        path {
          transition: .3s;
        }
      }
    }
  }
}
.l-title {
  .l-industries__wrapper-descr {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }
}
.section-categories {
  position: relative;
  padding-bottom: 100px;
  .title-pad {
    padding: 0 0 60px 0;
  }
}
.l-categories__wrapper {
  display: flex;
  justify-content: flex-start;
}
.l-categories__buttons {
  max-width: 350px;
  width: 100%;
  height: auto;
  padding: 100px 0 0 0;
}
.l-categories__buttons-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 200px;
}
.l-categories__buttons-link {
  width: 100%;
  margin-bottom: 8px;
  a {
    width: 100%;
    padding: 13px 32px 13px 26px;
    background: #F5F5F5;
    border-radius: 6px;
    font-size: 18px;
    line-height: 22px;
    color: #0B0B0B;
    display: flex;
    transition: .3s;
    &:target {
      background: #0B0B0B;
      color: #FFFFFF;
    }
    &:hover {
      background: #E2E2E2;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.l-categories__buttons-link.active {
  a {
    background: #0B0B0B;
    color: #FFFFFF;
  }
}
.l-category {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  &:last-child {
    padding-bottom: 0;
  }
}
.l-categories__cases {
  width: 75%;
  margin-left: 96px;
  padding-top: 100px;
}
.l-categories__cases-descr {
  margin-top: 30px;
  ul {
    display: flex;
    flex-direction: column;
    li {
      font-size: 18px;
      line-height: 28px;
      color: #9E9E9E;
      list-style-type: disc;
    }
  }
}
.l-categories__case {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.l-case__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
  border-bottom: 1px solid #BDBDBD;
  span {
    font-size: 24px;
    line-height: 34px;
    color: #0B0B0B;
    max-width: 325px;
  }
  a {
    font-size: 18px;
    line-height: 28px;
    color: #2962FF;
  }
}
.l-case__item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.l-case__item-tags {
  display: flex;
  flex-direction: column;
}
.l-case__item-type {
  font-size: 18px;
  line-height: 22px;
  color: #9E9E9E;
}
.l-case__item-images {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  border-radius: 8px;
  overflow: hidden;
  transition: .3s;
  &:hover {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.l-case__item-label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;
  margin-top: 30px;
  .label {
    padding: 4px 22px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: auto;
    white-space: unset;
    text-transform: uppercase;
    &.yellow {
      background: #F7D12D;
    }
    &.red {
      background: #EE1815;
    }
    &.blue-light {
      background: #09ABF3;
    }
    &.blue-dark {
      background: #094BF3;
    }
    &.green {
      background: #0FC241;
    }
  }
}


.section-counts {
  padding: 100px 0;
}
.l-about-count__container {
  display: flex;
  justify-content: space-between;
}
.l-about__us {
  width: 59%;
}
.l-about__us-text {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.l-about__us-text-about-company {
  font-size: 24px;
  line-height: 34px;
  color: #212121;
}
.l-about__us-text-we-believe {
  margin-top: 30px;
}
.l-count {
  width: 25%;
}
.l-count__wrapper {
  display: flex;
  flex-direction: column;
  &-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #BDBDBD;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &-number {
    width: 100%;
    display: flex;
    align-items: center;
    span {
      font-size: 60px;
      line-height: 80px;
      color: #212121;
      opacity: 0.5;
      transition: .3s;
    }
    svg {
      margin-right: 28px;
      path {
        fill: #212121;
      }
    }
    span.opacity {
      opacity: 1;
    }
  }
  &-desc {
    width: 100%;
    margin-top: 16px;
    padding: 0 100px 0 0;
    span {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
.section-cases {
  padding: 128px 0;
}
.l-cases__wrapper {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 64px;
}
.l-case {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.l-case__img {
  width: 100%;
  img {
    width: 100%;
  }
}
.l-case__text {
  margin-top: 32px;
  &-name {
    a {
      font-size: 28px;
      line-height: 34px;
      color: #FFFFFF;
    }
  }
  &-tag {
    margin-top: 16px;
    span {
      font-size: 20px;
      line-height: 24px;
      color: #757575;
    }
  }
}
.l-cases__link-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.l-cases__link {
  a {
    display: flex;
    align-items: center;
  }
  &-icon {
    margin-left: 20px;
    svg {
      margin-top: 7px;
    }
  }
  span {
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #2979FF;
  }
}


/*news*/
.section-news {
  padding: 100px 0;
  
}
.l-news__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.l-news__wrapper-item {
  max-width: unset;
  width: 100%;
  margin-right: 32px;
  &:last-child {
    margin-right: 0;
  }
}
.l-news__item-img {
  border-radius: 8px;
  overflow: hidden;
  transition: .3s;
  &:hover {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
  }
}
.l-news__item-name {
  margin-top: 30px;
  a {
    font-size: 24px;
    line-height: 34px;
  }
}
.l-news__item-date {
  margin-top: 30px;
}

.section-contacts-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.l-contacts-right {
  width: 66%;
}

.section-contacts {
  padding: 100px 0;
  ul {
    margin: 0;
    li {
      font-size: 16px;
      line-height: 22px;
      color: #757575;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      font-size: 18px;
      line-height: 22px;
      color: #757575;
      transition: .3s;
      &:hover {
        color: #FFFFFF;
      }
    }
    .bitrix24 {
      a:hover {
        color: #03A9F4;
      }
    }
  }
}
.footer-title {
  span {
    font-size: 24px;
    line-height: 22px;
    color: #FFFFFF;
  }
}
.l-contacts__wrapper {
  width: 100%;
  margin-top: 60px;
  display: flex;
}
.l-contacts__wrapper-info {
  margin-top: 60px;
  width: 100%;
}
.l-contacts__nav {
  width: 100%;
  ul {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin-right: 63px;
      margin-bottom: 30px;
    }
    li.bitrix24 {
      margin-right: 0;
    }
  }
}
.l-contacts__socials {
  width: 100%;
  display: flex;
  margin-top: 30px;
  a {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    svg {
      path {
        transition: .3s;
        fill: #757575;
      }
    }
    &:hover {
      svg {
        path {
          fill: #FFFFFF;
        }
      }
    }
  }
}
.l-contacts__send {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
.l-contacts__send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    padding: 12px 22px;
    color: #757575;
    border: 1px solid #757575;
    border-radius: 6px;
    transition: .3s;
    &:hover {
      color: #FFFFFF;
      border-color: #FFFFFF;
    }
  }
}
// fix hash'es
#gossector, #app, #telekom, #retail, #med {
  padding-top: 190px; 
  margin-top: -190px;
}
// @media screen and (max-width: 1024px) {
  
// }


//file - services
.l-breadcrumbs {
  width: 100%;
  ul {
    display: flex;
  }
  li {
    margin-right: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #6F6F6F;
  }
  a {
    font-size: 18px;
    line-height: 22px;
    color: #6F6F6F;
  }
}
.padding-top {
  padding-top: 90px;
}
.l-service__title {
  margin-top: 30px;
}
.l-service__main {
  margin-top: 60px;
}
.l-service__tabs-header {
  a {
    font-size: 18px;
    line-height: 22px;
    color: #6F6F6F;
    &:hover {
      background: none;
    }
  }
  li.is-active a {
    color: #0B0B0B;
  }
  li {
    position: relative;
    &.is-active {
      &::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #0B0B0B;
        position: absolute;
        bottom: -30px;
        left: 0;
      }
    }
  }
  ul {
    padding-bottom: 30px;
    border-bottom: 1px solid #C5C5C5;
  }
}

.tabs-content {
  border: none;
  background: none;
}
.l-service__section {
  margin-top: 100px;
}
.l-service-desc {
  margin-top: 30px;
}
.l-service__section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 34px;
  margin-top: 30px;
}
.l-service__section-item {
  .l-title span {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}
.l-service__section-grid-desc {
  margin-top: 20px;
}
.l-service__section-dash {
  margin-top: 30px;
  object {
    width: 100%;
  }
}
.l-service__section-dash-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 32px;
  margin-top: 30px;
}
.l-service__dash-item-desc {
  margin-top: 30px;
}
.ws-wrap {
  width: 50%;
}
.tabs::after, .tabs::before {
  display: none;
}
.tabs {
  display: flex;
  justify-content: space-between;
}
